.add_container{
    width: 1050px;
        height: 284px;
        margin-top: 100px;
        margin-left: 190px;
        border: 2px solid rgb(206, 205, 205);
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 50px;

}
.add_container:hover{
    background-color: lightgray;
    cursor: pointer;
}
.add_line1{
        margin-bottom: 20px;
            display: flex;
            width: 332px;
            height: 40px;
        
            margin-top: 20px;
            margin-left: 20px;
        
}
.add_line2 p{
font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}
.add_line1_head{
    padding-left: 15px;
}
.add_line3 button{
    width: 140px;
        height: 62px;
        margin-left: 30px;
        margin-top: 109px;
        border: 1px solid lightgray;
        margin-bottom: 50px;
        border-radius: 8px;
        background-color: #F7FDFF;
        margin-top: 30px;
     color:#8064A2 ;
    font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
        padding-left: 20px;
}
.add_line3 button:hover{
    background-color: #8064A2;
    color: white;
font-weight: bold;
}




/*media*/
@media only screen and (min-width: 412px) and (max-width: 915px) {


    .add_container {
            width: 390px;
                height: 234px;
                margin-top: -300px;
                margin-left: 10px;
               padding: 10px;
                margin-bottom: 50px;
            
    
        }
    
        .add_line1 {
                width: 332px;
                height: 12px;
                margin-top: 0px;
                margin-left: 10px;
            }
    .add_line1_img img{
            width: 18px;
            height: 18px;
            
    }
        .add_line2 p {
        
            font-size: 12px;
          
    
        }
    
      .add_line1_head h2 {
            font-size: 14px;
                margin-top: 7px;
       }
        .add_line3 button {
                width: 140px;
                    height: 42px;
                    margin-left: 30px;
                    margin-top: 109px;
                 
                    margin-bottom: 50px;
                  
                    margin-top: 21px;
                  
                    font-family: Poppins;
                    font-size: 14px;
                  
                    padding-left: 25px;
        }
    
       
}